<div id="follow_form_<%= followed_user.id %>">
  <% unless current_user.following?(followed_user) %>
    <%= form_for(current_user.follower_relations.build(followed_id: followed_user.id), remote: true) do |f| %>
      <%= f.hidden_field :followed_id %>
      <%= f.submit "フォロー", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
</div>